<div class="fixed z-10 inset-0 overflow-y-auto">
    <div class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">

        <div class="fixed inset-0 transition-opacity" (click)="closeModalF()">
            <div class="absolute inset-0 bg-gray-500 opacity-75"></div>
        </div>

        <!-- This element is to trick the browser into centering the modal contents. -->
        <span class="hidden sm:inline-block sm:align-middle sm:h-screen"></span>&#8203;


        <div class="inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:w-full sm:max-w-lg md:w-11/12 md:max-w-screen-md lg:w-11/12 lg:max-w-screen-md xl:w-1/2 xl:max-w-screen-xl"
            role="dialog" aria-modal="true" aria-labelledby="modal-headline">
            <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
                <div class="flex flex-wrap mb-4" [formGroup]="clientForm">
                    <div class="w-full h-12 flex flex-col text-2xl text-center">
                        {{title}}
                        <span class="text-sm">{{text}}</span>
                    </div>

                    <div class="mt-3 mx-4 sm:text-left w-full">
                        <app-label-form for="name" name="{{ 'client_create.name' | translate }}"></app-label-form>

                        <input formControlName="name" class="inputClass" id="name" type="text"
                            [ngClass]="{ 'border border-red-500': submitted && f.name.errors }"
                            placeholder="{{ 'client_create.name' | translate }}">
                        <ng-container *ngIf="submitted && f.name.errors">
                            <app-error-form *ngIf="f.name.errors.required" error="{{'errors.required' | translate}}">
                            </app-error-form>
                        </ng-container>
                    </div>

                    <div class="grid grid-cols-1 sm:grid-cols-2 w-full">
                        <div class="mt-3 mx-4 text-left">
                            <app-label-form for="gender" name="{{ 'client_create.gender' | translate }}">
                            </app-label-form>
                            <select formControlName="gender" class="bg-white inputClass" id="gender">
                                <option hidden selected value="">{{ 'client_create.gender' | translate }}</option>
                                <option value="{{ gender.id }}" *ngFor="let gender of genders">{{ gender.text }}
                                </option>
                            </select>
                            <app-error-form *ngIf="submitted && f.gender.errors.required"
                                error="{{'errors.required' | translate}}">
                            </app-error-form>
                        </div>
                        <div class="mt-3 mx-4 text-left">
                            <app-label-form for="team" name="{{ 'client_create.team' | translate }}"></app-label-form>
                            <input formControlName="team" class="inputClass" id="team" type="text"
                                placeholder="{{ 'client_create.team' | translate }}">
                        </div>
                    </div>

                    <div class="grid grid-cols-1 sm:grid-cols-2 w-full">
                        <div class="mt-3 mx-4 text-left">
                            <app-label-form for="dob" name="{{ 'client_create.dob' | translate }}"></app-label-form>
                            <ng2-flatpickr formControlName="dob" #calendar addClass="inputClass" [config]="dateOptions"
                                placeholder="{{ 'client_create.dob' | translate }}" (change)="changeDob($event)">
                            </ng2-flatpickr>
                        </div>
                        <div class="mt-3 mx-4 text-left">
                            <app-label-form for="job" name="{{ 'client_create.job' | translate }}">
                            </app-label-form>
                            <input formControlName="job" class="inputClass" id="job" type="text"
                                placeholder="{{ 'client_create.job' | translate }}">
                        </div>
                    </div>

                    <div class="grid grid-cols-1 sm:grid-cols-2 w-full">
                        <div class="mt-3 mx-4 text-left">
                            <app-label-form for="mobile" name="{{ 'client_create.mobile' | translate }}">
                            </app-label-form>
                            <div class="mt-1 relative rounded-md shadow-sm">
                                <div class="absolute inset-y-0 left-0 flex items-center">
                                    <select aria-label="prefix" formControlName="prefix"
                                        class="form-select h-full py-0 pl-2 pr-7 border-transparent bg-transparent text-gray-500 sm:text-sm sm:leading-5 focus:border-nutriwell">
                                        <option hidden selected value="">Prefix</option>
                                        <option value="+34">+34</option>
                                        <option value="+39">+39</option>
                                        <option value="+33">+33</option>
                                        <option value="+48">+48</option>
                                        <option value="+1">+1</option>
                                    </select>
                                </div>
                                <input formControlName="mobile" class="inputClass_groups" id="mobile" type="number"
                                    placeholder="{{ 'client_create.mobile' | translate }}" min="0">
                            </div>

                        </div>
                        <div class="mt-3 mx-4 text-left">
                            <app-label-form for="email" name="{{ 'client_create.email' | translate }}">
                            </app-label-form>
                            <input formControlName="email" class="inputClass" id="email" type="text"
                                placeholder="{{ 'client_create.email' | translate }}">
                        </div>
                    </div>

                    <ng-container *ngIf="under">
                        <div class="mt-3 mx-4 sm:text-left w-full">
                            <app-label-form for="legal_checkbox" name="Responsable legal"></app-label-form>

                            <input formControlName="legal_checkbox" id="legal_checkbox" type="checkbox"
                                [ngClass]="{ 'border border-red-500': submitted && f.legal_checkbox.errors }">
                            <span class="ml-2"> Texto Legal </span>
                            <ng-container *ngIf="submitted && f.legal_checkbox.errors">
                                <app-error-form *ngIf="f.legal_checkbox.errors.required"
                                    error="{{'errors.required' | translate}}">
                                </app-error-form>
                            </ng-container>
                        </div>

                        <div class="grid grid-cols-1 sm:grid-cols-2 w-full">
                            <div class="mt-3 mx-4 text-left">
                                <input formControlName="legal_name" class="inputClass" id="legal_name" type="text"
                                    [ngClass]="{ 'border border-red-500': submitted && f.legal_name.errors }"
                                    placeholder="Responsable legal">
                                <ng-container *ngIf="submitted && f.legal_name.errors">
                                    <app-error-form *ngIf="f.legal_name.errors.required"
                                        error="{{'errors.required' | translate}}">
                                    </app-error-form>
                                </ng-container>
                            </div>
                            <div class="mt-3 mx-4 text-left">
                                <input formControlName="legal_identity" class="inputClass" id="legal_identity"
                                    type="text"
                                    [ngClass]="{ 'border border-red-500': submitted && f.legal_identity.errors }"
                                    placeholder="Responsable legal_identity">
                                <ng-container *ngIf="submitted && f.legal_identity.errors">
                                    <app-error-form *ngIf="f.legal_identity.errors.required"
                                        error="{{'errors.required' | translate}}">
                                    </app-error-form>
                                </ng-container>
                            </div>

                        </div>
                    </ng-container>
                </div>
            </div>
            <div class="bg-gray-50 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
                <span class="flex w-full rounded-md shadow-sm sm:ml-3 sm:w-auto">
                    <button type="submit" (click)="onSubmit()"
                        class="inline-flex justify-center w-full rounded-md border border-transparent px-4 py-2 bg-nutriwell text-base leading-6 font-medium text-white shadow-sm hover:bg-nutriwell-500 focus:outline-none focus:border-nutriwell-700 focus:shadow-outline-nutriwell transition ease-in-out duration-150 sm:text-sm sm:leading-5">
                        {{text_button_register}}
                    </button>
                </span>
            </div>
        </div>
    </div>
</div>