<div class="fixed z-10 inset-0 overflow-y-auto">
    <div class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">

        <div class="fixed inset-0 transition-opacity" (click)="closeModalF()">
            <div class="absolute inset-0 bg-gray-500 opacity-75"></div>
        </div>

        <!-- This element is to trick the browser into centering the modal contents. -->
        <span class="hidden sm:inline-block sm:align-middle sm:h-screen"></span>&#8203;


        <div class="inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:w-full sm:max-w-lg md:w-11/12 md:max-w-screen-md lg:w-11/12 lg:max-w-screen-md xl:w-1/2 xl:max-w-screen-xl"
            role="dialog" aria-modal="true" aria-labelledby="modal-headline">
            <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
                <div class="flex flex-wrap mb-4" [formGroup]="clientForm">
                    <div class="w-full h-12 flex flex-col text-2xl text-center">
                        {{title}}
                        <span class="text-sm">{{text}}</span>
                    </div>

                    <div class="mt-3 mx-4 sm:text-left w-full">
                        <app-label-form for="name" name="{{ 'client_create.name' | translate }}"></app-label-form>

                        <input formControlName="name" class="inputClass"
                            [ngClass]="{ 'border border-red-500': submitted && f.password.errors }" id="name"
                            type="text" placeholder="{{ 'client_create.name' | translate }}">
                    </div>

                    <div class="grid grid-cols-1 sm:grid-cols-2 w-full">
                        <div class="mt-3 mx-4 text-left">
                            <app-label-form for="gender" name="{{ 'client_create.gender' | translate }}">
                            </app-label-form>
                            <select
                                class="bg-white shadow appearance-none border rounded w-full py-2 px-3 text-nutriwell leading-tight focus:outline-none focus:border-nutriwell">
                                <option value="{{ gender.id }}" *ngFor="let gender of genders">{{ gender.text }}
                                </option>
                            </select>
                        </div>
                        <div class="mt-3 mx-4 text-left">
                            <app-label-form for="team" name="{{ 'client_create.team' | translate }}"></app-label-form>
                            <input
                                class="shadow appearance-none border rounded w-full py-2 px-3 text-nutriwell leading-tight focus:outline-none focus:border-nutriwell"
                                id="team" type="text" placeholder="{{ 'client_create.team' | translate }}">
                        </div>
                    </div>

                    <div class="grid grid-cols-1 sm:grid-cols-2 w-full">
                        <div class="mt-3 mx-4 text-left">
                            <app-label-form for="dob" name="{{ 'client_create.dob' | translate }}"></app-label-form>
                            <input
                                class="shadow appearance-none border rounded w-full py-2 px-3 text-nutriwell leading-tight focus:outline-none focus:border-nutriwell"
                                id="dob" type="text" placeholder="{{ 'client_create.dob' | translate }}">
                        </div>
                        <div class="mt-3 mx-4 text-left">
                            <app-label-form for="job" name="{{ 'client_create.job' | translate }}">
                            </app-label-form>
                            <input
                                class="shadow appearance-none border rounded w-full py-2 px-3 text-nutriwell leading-tight focus:outline-none focus:border-nutriwell"
                                id="job" type="text" placeholder="{{ 'client_create.job' | translate }}">
                        </div>
                    </div>

                    <div class="grid grid-cols-1 sm:grid-cols-2 w-full">
                        <div class="mt-3 mx-4 text-left">
                            <app-label-form for="mobile" name="{{ 'client_create.mobile' | translate }}">
                            </app-label-form>
                            <div class="mt-1 relative rounded-md shadow-sm">

                                <div class="absolute inset-y-0 left-0 flex items-center">
                                    <select aria-label="Currency"
                                        class="form-select h-full py-0 pl-2 pr-7 border-transparent bg-transparent text-gray-500 sm:text-sm sm:leading-5 focus:border-nutriwell">
                                        <option>+34</option>
                                        <option>+44</option>
                                        <option>+15</option>
                                    </select>
                                </div>
                                <input id="mobile" type="number"
                                    class="shadow appearance-none border rounded w-full pl-16 py-2 px-3 text-nutriwell leading-tight focus:outline-none focus:border-nutriwell"
                                    placeholder="{{ 'client_create.mobile' | translate }}">

                            </div>

                        </div>
                        <div class="mt-3 mx-4 text-left">
                            <app-label-form for="email" name="{{ 'client_create.email' | translate }}">
                            </app-label-form>
                            <input
                                class="shadow appearance-none border rounded w-full py-2 px-3 text-nutriwell leading-tight focus:outline-none focus:border-nutriwell"
                                id="email" type="text" placeholder="{{ 'client_create.email' | translate }}">
                        </div>
                    </div>
                </div>
            </div>
            <div class="bg-gray-50 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
                <span class="flex w-full rounded-md shadow-sm sm:ml-3 sm:w-auto">
                    <button type="submit" (click)="closeModalF()"
                        class="inline-flex justify-center w-full rounded-md border border-transparent px-4 py-2 bg-nutriwell text-base leading-6 font-medium text-white shadow-sm hover:bg-nutriwell-500 focus:outline-none focus:border-nutriwell-700 focus:shadow-outline-nutriwell transition ease-in-out duration-150 sm:text-sm sm:leading-5">
                        {{text_button_register}}
                    </button>
                </span>
            </div>
        </div>
    </div>
</div>