<div class="flex content-start flex-wrap bg-gray-200 img">
    <div class="w-full max-w-xs" style="margin: 0 auto">
        <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4" [formGroup]="loginForm"
            (ngSubmit)="onSubmit()">
            <div class="mb-4">
                <app-label-form for="email" name="Email"></app-label-form>
                <input formControlName="email" class="shadow appearance-none
                    border rounded w-full py-2
                    px-3
                    text-witrac leading-tight focus:outline-none
                    focus:border-witrac" [ngClass]="{ 'border border-red-500': submitted &&
                    f.password.errors }" id="email" type="text" placeholder="Email}">
                <ng-container *ngIf="submitted && f.email.errors">
                    <app-error-form *ngIf="f.email.errors.required" error="Campo obligatorio">
                    </app-error-form>
                    <app-error-form *ngIf="f.email.errors.email" error="Debe de ser un email
                        correcto">
                    </app-error-form>
                </ng-container>

            </div>
            <div class="mb-6">
                <app-label-form for="password" name="Password"></app-label-form>

                <input formControlName="password" class="shadow appearance-none
                    border rounded w-full py-2
                    px-3
                    text-witrac leading-tight focus:outline-none
                    focus:border-witrac" [ngClass]="{ 'border border-red-500': submitted &&
                    f.password.errors }" id="password" type="password"
                    placeholder="Password">
                <ng-container *ngIf="submitted && f.password.errors">
                    <app-error-form *ngIf="f.password.errors.required" error="Campo obligatorio">
                    </app-error-form>
                    <app-error-form *ngIf="f.password.errors.minlength"
                        error="La contraseña debe tener al menos 8 caracteres">
                    </app-error-form>
                </ng-container>
            </div>
            <div class="mb-6" *ngIf="error">
                <app-error-form *ngIf="error == 500" error="Password or username invalid">
                </app-error-form>
            </div>
            <div class="flex items-center justify-between">
                <button class="bg-witrac text-white border
                    hover:bg-white hover:text-witrac hover:border-witrac
                    focus:outline-none focus:border-witrac font-bold py-2
                    px-4 rounded">
                    Sign In
                </button>
                <a class="inline-block align-baseline font-bold text-sm
                    text-witrac" href="#">
                    Forgot Password?
                </a>
            </div>
            <ng-container *ngIf="error">
                <p class="text-center text-red-500 text-xs">
                    Usuario no valido
                </p>
            </ng-container>
        </form>
    </div>
</div>