<span class="relative z-0 inline-flex shadow-sm rounded-md mb-5">
    <button type="button" (click)="changeView(true)" class="middle-button
        rounded-l-md"
        [ngClass]="{'active': calendar}">Calendario
    </button>
    <button type="button" (click)="changeView(false)" class="-ml-px
        middle-button rounded-r-md"
        [ngClass]="{'active': !calendar}">Listado
    </button>
</span>

<div *ngIf="!showAppointment">
    <app-customer-edit-appointments-calendar [customer]="customer"
        *ngIf="calendar"
        (showAppointmentOutput)="showAppointmentO($event)">
    </app-customer-edit-appointments-calendar>
    <app-customer-edit-appointments-list [customer]="customer" *ngIf="!calendar"
        (showAppointmentOutput)="showAppointmentO($event)"
        (startAppointmentModal)="generateStartModal($event)"
        (deleteAppointmentModal)="generateDeleteModal($event)"></app-customer-edit-appointments-list>
</div>


<div class="bg-white overflow-hidden shadow rounded-lg divide-y divide-gray-200
    mt-4" *ngIf="showAppointment"
    [@enterAnimation]>
    <div class="px-4 py-5 sm:px-6 cursor-pointer flex justify-between">
        <p>
            Información de la cita
            <span class="customer-info">
                <img class="customer-info-svg"
                    src="/assets/images/svg/switch-vertical.svg" />
                {{customer.medical.height}} cm
                &nbsp;
                <img class="customer-info-svg"
                    src="/assets/images/svg/gift.svg" /> {{years}} años
            </span>
        </p>
        <div class="px-4 pt-3 sm:px-6 cursor-pointer">
            <img class="w-6 h-6 pb-2 cursor-pointer" src="/assets/images/svg/x.svg"
                (click)="showAppointment=
                !showAppointment" />
        </div>
    </div>
    <div *ngIf="appointmentDataForm">
        <div [formGroup]="appointmentDataForm">

            <app-tabs>
                <app-tab title="Información" [isActive]="true">
                    <div class="grid grid-cols-3 gap-7">
                        <div class="col-span-3">
                            <app-label-form for="date" name="{{ 'appointment_create.date' |
                                translate
                                }}">
                            </app-label-form>
                            <ng2-flatpickr formControlName="date" #calendar addClass="inputClass"
                                [config]="dateOptions"
                                placeholder="{{ 'appointment_create.date' | translate }}">
                            </ng2-flatpickr>
                            <ng-container *ngIf="submitted && f.date.errors">
                                <app-error-form *ngIf="f.date.errors.required"
                                    error="{{'errors.required' | translate}}">
                                </app-error-form>
                            </ng-container>
                        </div>

                        <ng-container *ngIf="type !== 2">
                            <div class="col-span-3">
                                <div class="grid grid-cols-3 gap-5 lg:gap-10">
                                    <div class="col-span-3 sm:col-span-1">
                                        <app-label-form for="weight" name="Peso actual"></app-label-form>
                                        <input formControlName="weight" class="inputClass"
                                            id="weight" type="number" step="0.01" min="0"
                                            [ngClass]="{ 'border border-red-500': submitted &&
                                            f.weight.errors }"
                                            placeholder="Peso actual">
                                        <ng-container *ngIf="submitted && f.weight.errors">
                                            <app-error-form *ngIf="f.weight.errors.required"
                                                error="{{'errors.required' | translate}}">
                                            </app-error-form>
                                        </ng-container>
                                    </div>
                                    <div class="col-span-3 sm:col-span-1">
                                        <app-label-form for="weight_objective" name="Objetivo
                                            peso siguiente"></app-label-form>

                                        <input formControlName="weight_objective"
                                            class="inputClass" id="weight_objective"
                                            type="number"
                                            step="0.01" min="0"
                                            [ngClass]="{ 'border border-red-500': submitted &&
                                            f.weight_objective.errors }"
                                            placeholder="Objetivo peso siguiente">
                                        <ng-container *ngIf="submitted &&
                                            f.weight_objective.errors">
                                            <app-error-form
                                                *ngIf="f.weight_objective.errors.required"
                                                error="{{'errors.required' | translate}}">
                                            </app-error-form>
                                        </ng-container>
                                    </div>
                                    <div class="col-span-3 sm:col-span-1">
                                        <app-label-form for="weight" name="IMC"></app-label-form>
                                        <input formControlName="imc" class="inputClass bg-gray-100"
                                            id="imc" type="number" step="0.01" min="0"
                                            [ngClass]="{ 'border border-red-500': submitted &&
                                            f.imc.errors }"
                                            placeholder="IMC">
                                        <ng-container *ngIf="submitted && f.imc.errors">
                                            <app-error-form *ngIf="f.imc.errors.required"
                                                error="{{'errors.required' | translate}}">
                                            </app-error-form>
                                        </ng-container>
                                    </div>
                                </div>
                            </div>

                            <div class="col-span-3">
                                <div class="grid grid-cols-4 gap-5 lg:gap-10">
                                    <div class="col-span-4 lg:col-span-1">
                                        <app-label-form for="waist" name="Cintura (cm)"></app-label-form>
                                        <input formControlName="waist" class="inputClass" id="waist"
                                            type="number" step="0.01" min="0" placeholder="Cintura">
                                    </div>
                                    <div class="col-span-4 lg:col-span-1">
                                        <app-label-form name="Contorno (cm)"></app-label-form>
                                        <input formControlName="girth" class="inputClass" id="girth"
                                            type="number" step="0.01" min="0"
                                            placeholder="Contorno">
                                    </div>
                                    <div class="col-span-4 lg:col-span-1">
                                        <app-label-form for="hip" name="Cadera (cm)"></app-label-form>
                                        <input formControlName="hip" class="inputClass" id="hip"
                                            type="number"
                                            step="0.01" min="0" placeholder="Cadera">
                                    </div>
                                    <div class="col-span-4 lg:col-span-1">
                                        <app-label-form for="leg" name="Piernas (cm)"></app-label-form>
                                        <input formControlName="leg" class="inputClass" id="leg"
                                            type="number" step="0.01" min="0" placeholder="Piernas">
                                    </div>
                                </div>
                            </div>

                            <div class="col-span-3">
                                <app-label-form name="Notes"></app-label-form>

                                <textarea formControlName="notes" class="inputClass" id="name"
                                    type="text"
                                    [ngClass]="{ 'border border-red-500': submitted &&
                                    f.notes.errors }"
                                    placeholder="Notes"> </textarea>
                                <ng-container *ngIf="submitted && f.notes.errors">
                                    <app-error-form *ngIf="f.notes.errors.required"
                                        error="{{'errors.required' | translate}}">
                                    </app-error-form>
                                    <app-error-form *ngIf="f.notes.errors.maxlength"
                                        error="{{'errors.maxlength' | translate}}">
                                    </app-error-form>
                                </ng-container>
                            </div>
                        </ng-container>
                    </div>
                </app-tab>
                <app-tab title="Bioimpedancia" *ngIf="type !== 2">
                    <div class="grid grid-cols-3 gap-5 lg:gap-10 pb-4">
                        <div class="col-span-3 sm:col-span-1">
                            <app-label-form for="weight" name="Peso actual"></app-label-form>
                            <input class="inputClass bg-gray-100"
                                value="{{appointmentDataForm.controls['weight'].value}}"
                                disabled
                                id="weight" type="number" step="0.01" min="0"
                                placeholder="Peso actual">
                        </div>
                        <div class="col-span-3 sm:col-span-1">
                            <app-label-form for="weight_theoretical" name="Peso Teórico"></app-label-form>
                            <input formControlName="weight_theoretical"
                                class="inputClass bg-gray-100" id="weight_theoretical"
                                type="number"
                                step="0.01" min="0" placeholder="Peso Teórico">
                        </div>
                        <div class="col-span-3 sm:col-span-1">
                            <app-label-form for="weight" name="Grasa %"></app-label-form>
                            <input formControlName="fat_percentage" class="inputClass"
                                id="fat_percentage" type="number" step="1" min="0"
                                placeholder="Grasa %">
                        </div>
                    </div>
                    <div class="grid grid-cols-6 gap-5 lg:gap-10">
                        <div class="col-span-3 sm:col-span-1">
                            <app-label-form for="fat" name="Grasa"></app-label-form>
                            <input formControlName="fat" class="inputClass bg-gray-100"
                                id="fat" type="number" step="0.01" min="0"
                                placeholder="Grasa">
                        </div>
                        <div class="col-span-3 sm:col-span-1">
                            <app-label-form for="body_fat" name="Grasa Corporal"></app-label-form>
                            <input formControlName="body_fat" class="inputClass bg-gray-100"
                                id="body_fat" type="number" step="0.01" min="0"
                                placeholder="Grasa Corporal">
                        </div>
                        <div class="col-span-3 sm:col-span-1">
                            <app-label-form for="excess_fat" name="Exceso de grasa"></app-label-form>
                            <input formControlName="excess_fat" class="inputClass bg-gray-100"
                                id="excess_fat" type="number" step="0.01" min="0"
                                placeholder="Exceso de grasa">
                        </div>
                        <div class="col-span-3 sm:col-span-1">
                            <app-label-form for="not_fat" name="Materia no grasa"></app-label-form>
                            <input formControlName="not_fat" class="inputClass bg-gray-100"
                                id="not_fat" type="number" step="0.01" min="0"
                                placeholder="Materia no grasa">
                        </div>
                        <div class="col-span-3 sm:col-span-1">
                            <app-label-form for="water" name="Agua"></app-label-form>
                            <input formControlName="water" class="inputClass bg-gray-100"
                                id="water" type="number" step="0.01" min="0"
                                placeholder="Agua">
                        </div>
                        <div class="col-span-3 sm:col-span-1">
                            <app-label-form for="excess_water" name="Exceso de agua"></app-label-form>
                            <input formControlName="excess_water" class="inputClass bg-gray-100"
                                id="excess_water" type="number" step="0.01" min="0"
                                placeholder="Exceso de agua">
                        </div>
                    </div>
                </app-tab>
            </app-tabs>

            <div class="grid grid-cols-3 gap-7 px-4 py-6 sm:px-6 lg:px-8">
                <div class="col-span-3" *ngIf="type !== 1">
                    <div class="grid grid-cols-3 gap-5 lg:gap-10">
                        <span class="shadow-sm rounded-md">
                            <button type="button" class="customer-info-button-red-reverse"
                                (click)="generateDeleteModal(appointment_id)">
                                <img class="customer-info-button-svg"
                                    src="/assets/images/svg/trash-white.svg" />

                                Delete
                            </button>
                        </span>
                        <div class="col-span-2 flex flex-row-reverse">
                            <span class="shadow-sm rounded-md">
                                <button type="button" class="customer-info-button-reverse"
                                    (click)="onSubmit()">
                                    <img class="customer-info-button-svg"
                                        src="/assets/images/svg/check-white.svg" />

                                    {{ 'customer_edit.save' | translate }}
                                </button>
                            </span>

                            <span class="pr-2 rounded-md">
                                <button type="button" class="customer-info-button"
                                    (click)="nutritionalPlan()">
                                    <img class="customer-info-button-svg"
                                        src="/assets/images/svg/beaker.svg" />
                                    Nutritional Plan
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>