<div class="max-w-7xl mx-auto py-6 sm:px-6 lg:px-8">
    <div class="flex flex-wrap -mx-2">
        <div class="w-full md:w-1/3 px-2">
            <div class="flex">
                <div class="w-1/3 px-2">
                    <button class="button_calendar" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate"
                        (viewDateChange)="closeOpenMonthViewDay()">
                        Previous
                    </button>
                </div>
                <div class="w-1/3 px-2">
                    <button class="button_calendar" mwlCalendarToday [(viewDate)]="viewDate" mwlCalendarToday
                        [(viewDate)]="viewDate" (viewDateChange)="closeOpenMonthViewDay()">
                        Today
                    </button>
                </div>
                <div class="w-1/3 px-2">
                    <button class="button_calendar" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate"
                        (viewDateChange)="closeOpenMonthViewDay()">
                        Next
                    </button>
                </div>
            </div>
        </div>
        <div class="w-full md:w-1/3 px-2">
            <div class="text-center">
                <h3 style="text-transform: capitalize;">
                    {{ viewDate | calendarDate:(view + 'ViewTitle'): (settingService.changeCountry$ | async).locale: (settingService.changeCountry$ | async).weekStartsOn }}
                </h3>
            </div>
        </div>
        <div class="w-full md:w-1/3 px-2">
            <div class="flex">
                <div class="w-1/3 px-2">
                    <button class="button_calendar" (click)="setView(CalendarView.Month)" [class.active]="view ===
                        CalendarView.Month">
                        Month
                    </button>
                </div>
                <div class="w-1/3 px-2">
                    <button class="button_calendar" (click)="setView(CalendarView.Week)" [class.active]="view ===
                        CalendarView.Week">
                        Week
                    </button>
                </div>
                <div class="w-1/3 px-2">
                    <button class="button_calendar" (click)="setView(CalendarView.Day)" [class.active]="view ===
                        CalendarView.Day">
                        Day
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="max-w-7xl mx-auto py-6 sm:px-6 lg:px-8">
    <ng-template #loading>
        <div class="text-center">
            <link rel="stylesheet" href="https://pagecdn.io/lib/font-awesome/5.10.0-11/css/all.min.css"
                integrity="sha256-p9TTWD+813MlLaxMXMbTA7wN/ArzGyW/L7c5+KkjOkM=" crossorigin="anonymous">

            <div class="w-full h-full fixed block top-0 left-0 bg-white opacity-75 z-50">
                <span class="text-green-500 opacity-75 top-1/2 my-0 mx-auto block relative w-0 h-0" style="
                top: 50%;
            ">
                    <i class="fas fa-circle-notch fa-spin fa-5x"></i>
                </span>
            </div>
        </div>
    </ng-template>
    <div class="px-4 py-6 sm:px-0">
        <ng-container *ngIf="events$ | async; else loading; let events">
            <div [ngSwitch]="view">
                <mwl-calendar-month-view *ngSwitchCase="CalendarView.Month" [viewDate]="viewDate" [events]="events"
                    style="text-transform: capitalize;" [locale]="(settingService.changeCountry$ | async).locale"
                    [weekStartsOn]="(settingService.changeCountry$ | async).weekStartsOn"
                    [weekendDays]="(settingService.changeCountry$ | async).weekendDays" [refresh]="refresh">
                </mwl-calendar-month-view>
                <mwl-calendar-week-view *ngSwitchCase="CalendarView.Week" [viewDate]="viewDate" [events]="events"
                    style="text-transform: capitalize;" [locale]="(settingService.changeCountry$ | async).locale"
                    [weekStartsOn]="(settingService.changeCountry$ | async).weekStartsOn"
                    [weekendDays]="(settingService.changeCountry$ | async).weekendDays" [refresh]="refresh">
                </mwl-calendar-week-view>
                <mwl-calendar-day-view *ngSwitchCase="CalendarView.Day" [viewDate]="viewDate" [events]="events"
                    style="text-transform: capitalize;" [locale]="(settingService.changeCountry$ | async).locale"
                    [weekStartsOn]="(settingService.changeCountry$ | async).weekStartsOn"
                    [weekendDays]="(settingService.changeCountry$ | async).weekendDays" [refresh]="refresh">
                </mwl-calendar-day-view>
            </div>
        </ng-container>

    </div>
</div>