.on {
    @apply opacity-100;
    @apply ease-in;
    @apply duration-200;
}
.off {
    @apply opacity-0;
    @apply ease-out;
    @apply duration-100;
}

@mixin scrollbars($sizeW, $sizeH, $foreground-color, $background-color: mix($foreground-color, white,  10%)) {
  // For Google Chrome
  &::-webkit-scrollbar {
    width:  $sizeW;
    height: $sizeH;
  }

  &::-webkit-scrollbar-thumb {
    background: $foreground-color;
  }

  &::-webkit-scrollbar-track {
    background: $background-color;
  }

  // For Internet Explorer
  & {
    scrollbar-face-color: $foreground-color;
    scrollbar-track-color: $background-color;
  }
}

.custom-scroll {
  @include scrollbars(.5em, .1em, slategray);
}