<app-modal-data [title]="title" [text]="text" (closeModal)="closeModalF()" *ngIf="customerForm; else loading;">

    <div data [formGroup]="customerForm" class="w-full">
        <div class="grid grid-cols-1 sm:grid-cols-2 ">
            <div class="mt-3 mx-4 text-left">
                <app-label-form for="name" name="{{ 'customer_create.name' | translate }}"></app-label-form>

                <input formControlName="name" class="inputClass" id="name" type="text"
                    [ngClass]="{ 'border border-red-500': submitted && f.name.errors }"
                    placeholder="{{ 'customer_create.name' | translate }}">
                <ng-container *ngIf="submitted && f.name.errors">
                    <app-error-form *ngIf="f.name.errors.required" error="{{'errors.required' | translate}}">
                    </app-error-form>
                    <app-error-form *ngIf="f.name.errors.maxlength"
                        error="{{'errors.maxLength' | translate:{number: validationMaxString.short_string} }}">
                    </app-error-form>
                </ng-container>
            </div>
            <div class="mt-3 mx-4 text-left">
                <app-label-form for="name" name="{{ 'customer_create.surnames' | translate }}">
                </app-label-form>

                <input formControlName="surnames" class="inputClass" id="surnames" type="text"
                    [ngClass]="{ 'border border-red-500': submitted && f.surnames.errors }"
                    placeholder="{{ 'customer_create.surnames' | translate }}">
                <ng-container *ngIf="submitted && f.surnames.errors">
                    <app-error-form *ngIf="f.surnames.errors.required" error="{{'errors.required' | translate}}">
                    </app-error-form>
                    <app-error-form *ngIf="f.surnames.errors.maxlength"
                        error="{{'errors.maxLength' | translate:{number: validationMaxString.long_string} }}">
                    </app-error-form>
                </ng-container>
            </div>
        </div>

        <div class="grid grid-cols-1 sm:grid-cols-2 w-full">
            <div class="mt-3 mx-4 text-left">
                <app-label-form for="mobile" name="{{ 'customer_create.mobile' | translate }}">
                </app-label-form>
                <div class="mt-1 relative rounded-md shadow-sm">
                    <div class="absolute inset-y-0 left-0 flex items-center">
                        <select aria-label="prefix" formControlName="prefix"
                            class="form-select h-full py-0 pl-2 pr-7 border-transparent bg-transparent text-gray-500 sm:text-sm sm:leading-5 focus:border-nutriwell">
                            <option hidden selected value="">Prefix</option>
                            <option value="+34">+34</option>
                            <option value="+39">+39</option>
                            <option value="+33">+33</option>
                            <option value="+48">+48</option>
                            <option value="+1">+1</option>
                        </select>
                    </div>
                    <input formControlName="mobile" class="inputClass_groups" id="mobile" type="number"
                        placeholder="{{ 'customer_create.mobile' | translate }}" min="0">
                </div>
                <ng-container *ngIf="submitted && (f.mobile.errors || f.prefix.errors)">
                    <app-error-form *ngIf="f.mobile.errors.required || f.prefix.errors.required"
                        error="{{'errors.required' | translate}}">
                    </app-error-form>
                </ng-container>
            </div>
            <div class="mt-3 mx-4 text-left">
                <app-label-form for="email" name="{{ 'customer_create.email' | translate }}">
                </app-label-form>
                <input formControlName="email" class="inputClass" id="email" type="text"
                    placeholder="{{ 'customer_create.email' | translate }}">
                <ng-container *ngIf="submitted && f.email.errors">
                    <app-error-form *ngIf="f.email.errors.required" error="{{'errors.required' | translate}}">
                    </app-error-form>
                    <app-error-form *ngIf="f.email.errors.email" error="{{'errors.email' | translate}}">
                    </app-error-form>
                    <app-error-form *ngIf="f.email.errors.maxlength"
                        error="{{'errors.maxLength' | translate:{number: validationMaxString.long_string} }}">
                    </app-error-form>
                </ng-container>
            </div>
        </div>

        <div class="grid grid-cols-1 sm:grid-cols-2 w-full">
            <div class="mt-3 mx-4 text-left">
                <app-label-form for="supplement" name="¿Estaría dispuesto a tomar suplementos?">
                </app-label-form>
                <select formControlName="supplement" class="bg-white inputClass"
                    [ngClass]="{ 'border border-red-500': submitted && f.supplement.errors }" id="supplement">
                    <option hidden selected value="">¿Estaría dispuesto a tomar suplementos?</option>
                    <option value="{{ option.id }}" *ngFor="let option of options">{{ option.text }}
                    </option>
                </select>
                <ng-container *ngIf="submitted && f.supplement.errors">
                    <app-error-form error="{{'errors.required' | translate}}">
                    </app-error-form>
                </ng-container>
            </div>

            <div class="mt-3 mx-4 text-left">
                <app-label-form for="illness" name="Enfermedades">
                </app-label-form>
                <select formControlName="illness" class="bg-white inputClass"
                    [ngClass]="{ 'border border-red-500': submitted && f.illness.errors }" id="illness">
                    <option hidden selected value="">Enfermedades</option>
                    <option value="{{ illness.id }}" *ngFor="let illness of illnesses">{{ illness.text }}
                    </option>
                </select>
                <ng-container *ngIf="submitted && f.illness.errors">
                    <app-error-form *ngIf="f.illness.errors.required" error="{{'errors.required' | translate}}">
                    </app-error-form>
                </ng-container>
            </div>


        </div>

        <div class="grid grid-cols-1 sm:grid-cols-2 w-full">
            <div class="mt-3 mx-4 text-left">

                <app-label-form for="cp" name="CP"></app-label-form>

                <input ngx-google-places-autocomplete class="inputClass" (onAddressChange)="handleAddressChange($event)"
                    [options]='autocompleteOptions' [ngClass]="{ 'border border-red-500': submitted && f.cp.errors }" />

                <ng-container *ngIf="submitted && f.cp.errors">
                    <app-error-form *ngIf="f.cp.errors.required" error="{{'errors.required' | translate}}">
                    </app-error-form>
                </ng-container>
                <ng-container *ngIf="noCpError">
                    <app-error-form error="Busque por su código postal">
                    </app-error-form>
                </ng-container>
            </div>

            <div class="mt-3 mx-4 text-left">
                <app-label-form for="dob" name="{{ 'customer_create.dob' | translate }}"></app-label-form>
                <ng2-flatpickr formControlName="dob" #calendar addClass="inputClass" [config]="dateOptions"
                    (change)="changeDob($event)" placeholder="{{ 'customer_create.dob' | translate }}">
                </ng2-flatpickr>
                <ng-container *ngIf="submitted && f.dob.errors">
                    <app-error-form *ngIf="f.dob.errors.required" error="{{'errors.required' | translate}}">
                    </app-error-form>
                </ng-container>
            </div>
        </div>

        <ng-container *ngIf="under">
            <div class="mt-3 mx-4 sm:text-left w-full">
                <app-label-form for="legal_checkbox" name="Responsable legal"></app-label-form>

                <input formControlName="legal_checkbox" id="legal_checkbox" type="checkbox"
                    [ngClass]="{ 'border border-red-500': submitted && f.legal_checkbox.errors }">
                <span class="ml-2">
                    {{ 'customer_create.legal_text' | translate }}
                </span>
                <ng-container *ngIf="submitted && f.legal_checkbox.errors">
                    <app-error-form *ngIf="f.legal_checkbox.errors.required" error="{{'errors.required' | translate}}">
                    </app-error-form>
                </ng-container>
            </div>

            <div class="grid grid-cols-1 sm:grid-cols-3 w-full">
                <div class="mt-3 mx-4 text-left">
                    <app-label-form for="email" name="{{ 'customer_create.legal_name' | translate }}">
                    </app-label-form>
                    <input formControlName="legal_name" class="inputClass" id="legal_name" type="text"
                        [ngClass]="{ 'border border-red-500': submitted && f.legal_name.errors }"
                        placeholder="{{ 'customer_create.legal_name' | translate }}">
                    <ng-container *ngIf="submitted && f.legal_name.errors">
                        <app-error-form *ngIf="f.legal_name.errors.required" error="{{'errors.required' | translate}}">
                        </app-error-form>
                        <app-error-form *ngIf="f.legal_name.errors.maxlength"
                            error="{{'errors.maxLength' | translate:{number: validationMaxString.long_string} }}">
                        </app-error-form>
                    </ng-container>
                </div>
                <div class="mt-3 mx-4 text-left">
                    <app-label-form for="email" name="{{ 'customer_create.legal_surnames' | translate }}">
                    </app-label-form>
                    <input formControlName="legal_surnames" class="inputClass" id="legal_surnames" type="text"
                        [ngClass]="{ 'border border-red-500': submitted && f.legal_surnames.errors }"
                        placeholder="{{ 'customer_create.legal_surnames' | translate }}">
                    <ng-container *ngIf="submitted && f.legal_surnames.errors">
                        <app-error-form *ngIf="f.legal_surnames.errors.required"
                            error="{{'errors.required' | translate}}">
                        </app-error-form>
                        <app-error-form *ngIf="f.legal_surnames.errors.maxlength"
                            error="{{'errors.maxLength' | translate:{number: validationMaxString.long_string} }}">
                        </app-error-form>
                    </ng-container>
                </div>
                <div class="mt-3 mx-4 text-left">
                    <app-label-form for="email" name="{{ 'customer_create.legal_identity' | translate }}">
                    </app-label-form>
                    <input formControlName="legal_identity" class="inputClass" id="legal_identity" type="text"
                        [ngClass]="{ 'border border-red-500': submitted && f.legal_identity.errors }"
                        placeholder="{{ 'customer_create.legal_identity' | translate }}">
                    <ng-container *ngIf="submitted && f.legal_identity.errors">
                        <app-error-form *ngIf="f.legal_identity.errors.required"
                            error="{{'errors.required' | translate}}">
                        </app-error-form>
                        <app-error-form *ngIf="f.legal_identity.errors.maxlength"
                            error="{{'errors.maxLength' | translate:{number: validationMaxString.long_string} }}">
                        </app-error-form>
                    </ng-container>
                </div>

            </div>
        </ng-container>
    </div>

    <div button>
        <button type="submit" (click)="onSubmit()"
            class="inline-flex justify-center w-full rounded-md border border-transparent px-4 py-2 bg-nutriwell text-base leading-6 font-medium text-white shadow-sm focus:outline-none focus:border-nutriwell focus:ring-nutriwell transition ease-in-out duration-150 sm:text-sm sm:leading-5">
            {{text_button_register}}
        </button>
    </div>
</app-modal-data>

<ng-template #loading>
    <app-loading></app-loading>
</ng-template>