<div class="px-4 py-6 sm:px-6 lg:px-8">
    <div class="pb-5 border-b border-gray-200 space-y-3 sm:flex sm:items-center
        sm:justify-between sm:space-x-4 sm:space-y-0">
        <h3 class="text-lg leading-6 font-medium text-gray-900">
            Profile
        </h3>

        <span class="sm:ml-3 flex rounded-md">
            <button type="button" class="customer-info-button-reverse"
                (click)="submit()">
                <img src="assets/img/svg/check-white.svg"
                    class="customer-info-button-svg" alt="check">
                Save
            </button>
        </span>
    </div>


    <div class="mt-6 bg-white shadow px-4 py-5 sm:rounded-lg sm:p-6 mb-10"
        [formGroup]="userForm">
        <div class="md:grid md:grid-cols-3 md:gap-6">
            <div class="md:col-span-1">
                <h3 class="text-lg font-medium leading-6 text-gray-900">Change your personal
                    data</h3>
                <p class="mt-1 text-sm leading-5 text-gray-500">
                    Change your personal data
                </p>
            </div>
            <div class="mt-5 md:mt-0 md:col-span-2">
                <div class="grid">
                    <div class="col-span-12 sm:col-span-3 pb-2">
                        <app-label-form for="name" name="Name"></app-label-form>
                        <input formControlName="name" class="inputClass" id="name" type="text"
                            [ngClass]="{ 'border border-red-500': submitted && f.name.errors }"
                            placeholder="Name">
                        <ng-container *ngIf="submitted && f.name.errors">
                            <app-error-form *ngIf="f.name.errors.required"
                                error="Campo obligatorio">
                            </app-error-form>
                            <app-error-form *ngIf="f.name.errors.maxlength"
                                error="">
                            </app-error-form>
                        </ng-container>

                    </div>
                    <div class="col-span-12 sm:col-span-3 pb-2">
                        <app-label-form for="email" name="Email"></app-label-form>
                        <input formControlName="email" class="inputClass" id="email" type="text"
                            [ngClass]="{ 'border border-red-500': submitted && f.email.errors }"
                            placeholder="Email">
                        <ng-container *ngIf="submitted && f.email.errors">
                            <app-error-form *ngIf="f.email.errors.required"
                                error="Campo obligatorio">
                            </app-error-form>
                            <app-error-form *ngIf="f.email.errors.maxlength"
                                error="">
                            </app-error-form>
                        </ng-container>

                    </div>
                </div>
            </div>
        </div>
        <div class="mt-2 md:grid md:grid-cols-3 md:gap-6">
            <div class="md:col-span-1">
                <h3 class="text-lg font-medium leading-6 text-gray-900">
                    Block other users
                </h3>
                <p class="mt-1 text-sm leading-5 text-gray-500">
                    Block other users
                </p>
            </div>
            <div class="mt-5 md:mt-0 md:col-span-2">

            </div>
        </div>
    </div>
</div>

<ng-template #loading>
    <app-loading></app-loading>
</ng-template>