<!-- menu mobile -->
<div class="h-screen flex overflow-hidden bg-white">
    <div [ngClass]="{ hidden:isOpenMobile}" class="lg:hidden">
        <div class="fixed inset-0 flex z-40">

            <div class="fixed inset-0">
                <div class="absolute inset-0 bg-gray-600 opacity-75">

                </div>
            </div>

            <div class="relative flex-1 flex flex-col max-w-xs w-full pt-5 pb-4 bg-witrac">
                <div class="absolute top-0 right-0 -mr-14 p-1">
                    <button (click)="isOpenMobile= !isOpenMobile"
                        class="flex items-center justify-center h-12 w-12 rounded-full
                        focus:outline-none focus:bg-gray-600"
                        aria-label="Close sidebar">
                        <img class="w-6 h-6" src="/assets/img/svg/menu-alt-2.svg" />
                    </button>
                </div>

                <div class="items-center flex-shrink-0 px-4">
                    <h3 class="text-witrac-sansivera text-center"><strong>Wi</strong>trac
                    </h3>
                </div>

                <div class="mt-5 flex-1 flex flex-col">
                    <nav class="flex-1 px-2 bg-witrac space-y-1">
                        <a [routerLink]="['/']" class="group text menu rounded-md">
                            <div class="bg-witrac-sun flex items-center mr-3 p-1.5
                                rounded-full">
                                <img class="w-6 h-6" src="/assets/img/svg/home.svg" />
                            </div>
                            Dashboard
                        </a>

                        <a [routerLink]="['/assets']" routerLinkActive="active" class="group
                            text menu rounded-md">
                            <div class="bg-witrac-stone flex items-center mr-3 p-1.5
                                rounded-full">
                                <img class="w-6 h-6" src="/assets/img/svg/book-open.svg" />
                            </div>
                            Find new assets
                        </a>
                        <a [routerLink]="['/library']" routerLinkActive="active"
                            class="group text menu rounded-md">
                            <div class="bg-witrac-stone flex items-center mr-3 p-1.5
                                rounded-full">
                                <img class="w-6 h-6" src="/assets/img/svg/library.svg" />
                            </div>
                            My library
                        </a>

                    </nav>
                </div>
            </div>

            <div class="flex-shrink-0 w-14">
                <!-- Dummy element to force sidebar to shrink to fit close icon -->
            </div>

        </div>
    </div>

    <div id="modal-container" class="hidden"></div>
    <div id="overlay" class="hidden"></div>

    <!-- menu desktop -->
    <div class="hidden lg:flex lg:flex-shrink-0">

        <!-- long menu -->
        <div class="flex flex-col w-64" *ngIf="!showSmallNavBar">

            <!-- Sidebar component, swap this element with another sidebar if you like -->
            <div class="flex flex-col flex-grow bg-witrac pt-5 pb-4 overflow-y-auto">
                <div class="items-center flex-shrink-0 px-4">
                    <h3 class="text-witrac-sansivera text-center"><strong>Wi</strong>trac
                    </h3>
                </div>

                <div class="mt-5 flex-1 flex flex-col">
                    <nav class="flex-1 px-2 bg-witrac space-y-1">
                        <a [routerLink]="['/']" class="group text menu rounded-md">
                            <div class="bg-witrac-sun flex items-center mr-3 p-1.5
                                rounded-full">
                                <img class="w-6 h-6" src="/assets/img/svg/home.svg" />
                            </div>
                            Dashboard
                        </a>

                        <a [routerLink]="['/assets']" routerLinkActive="active"
                            class="group text menu rounded-md">
                            <div class="bg-witrac-stone flex items-center mr-3 p-1.5
                                rounded-full">
                                <img class="w-6 h-6" src="/assets/img/svg/book-open.svg" />
                            </div>
                            Find new asssets
                        </a>
                        <a [routerLink]="['/library']" routerLinkActive="active"
                            class="group text menu rounded-md">
                            <div class="bg-witrac-stone flex items-center mr-3 p-1.5
                                rounded-full">
                                <img class="w-6 h-6" src="/assets/img/svg/library.svg" />
                            </div>
                            My library
                        </a>
                    </nav>
                </div>
            </div>
        </div>

        <!-- short menu -->
        <div class="flex flex-col w-16" *ngIf="showSmallNavBar">

            <div class="flex flex-col flex-grow bg-witrac pt-5 pb-4
                overflow-y-auto">

                <div class="items-center flex-shrink-0 px-4">
                    <img src="assets/images/logo" alt="witrac">
                </div>

                <div class="mt-5 flex-1 flex flex-col">
                    <nav class="flex-1 px-2 bg-witrac space-y-1 tooltip">
                        <a [routerLink]="['/']" class="group text menu rounded-md">
                            <div class="bg-witrac-sun flex items-center mr-3
                                p-1.5 rounded-full">
                                <img class="w-6 h-6" src="/assets/img/svg/home.svg" />
                            </div>
                        </a>

                        <a [routerLink]="['/assets']" routerLinkActive="active"
                            class="group text menu rounded-md">
                            <div class="bg-witrac-stone flex items-center mr-3
                                p-1.5 rounded-full">
                                <img class="w-6 h-6" src="/assets/img/svg/book-open.svg" />
                            </div>
                        </a>
                        <a [routerLink]="['/library']" routerLinkActive="active"
                            class="group text menu rounded-md">
                            <div class="bg-witrac-stone flex items-center mr-3
                                p-1.5 rounded-full">
                                <img class="w-6 h-6" src="/assets/img/svg/library.svg" />
                            </div>
                        </a>
                    </nav>
                </div>


            </div>
        </div>
    </div>
</div>