<app-modal-data [title]="title" (closeModal)="closeModal()">
    <div data class="flex flex-wrap w-full">
        <div class="w-full p-2" *ngIf="!customer">
            <app-label-form for="name" name="{{ 'customer_create.name' | translate }}">
            </app-label-form>
            <input class="inputClass" id="name" type="text" placeholder="Type a customer name or email"
                [formControl]="searchText" />
        </div>

        <div class="w-full p-2 overflow-x-auto" [style.display]="showCustomers">
            <table class="min-w-full divide-y divide-gray-200">
                <thead>
                    <tr>
                        <th
                            class="px-6 py-3 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                            Name
                        </th>
                        <th
                            class="px-6 py-3 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                            Proxima consulta
                        </th>
                        <th
                            class="px-6 py-3 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                            Team
                        </th>
                    </tr>
                </thead>
                <tbody class="bg-white divide-y divide-gray-200">

                    <tr class="cursor-pointer" *ngFor="let customer of customers" (click)="selectCustomer(customer)">
                        <td class="px-6 py-4 whitespace-no-wrap">
                            <div class="flex items-center">
                                <div class="flex-shrink-0 h-10 w-10">
                                    <img class="h-10 w-10 rounded-full"
                                        src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=facearea&amp;facepad=4&amp;w=256&amp;h=256&amp;q=60"
                                        alt="">
                                </div>
                                <div class="ml-4">
                                    <div class="text-sm leading-5 font-medium text-gray-900">
                                        {{customer.name}}
                                    </div>
                                    <div class="text-sm leading-5 text-gray-500">
                                        {{customer.email}}
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td class="px-6 py-4 whitespace-no-wrap">
                            <div class="text-sm leading-5 text-gray-900">N/A</div>
                        </td>
                        <td class="px-6 py-4 whitespace-no-wrap">
                            <div class="text-sm leading-5 text-gray-900">{{customer.team}}</div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="w-full p-2" *ngIf="customer">
            <table class="min-w-full divide-y divide-gray-200 overflow-x-auto">
                <tbody class="bg-white divide-y divide-gray-200">
                    <tr class="cursor-pointer">
                        <td class="px-6 py-4 whitespace-no-wrap">
                            <div class="flex items-center">
                                <div class="flex-shrink-0 h-10 w-10">
                                    <img class="h-10 w-10 rounded-full"
                                        src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=facearea&amp;facepad=4&amp;w=256&amp;h=256&amp;q=60"
                                        alt="">
                                </div>
                                <div class="ml-4">
                                    <div class="text-sm leading-5 font-medium text-gray-900">
                                        {{customer.name}}
                                    </div>
                                    <div class="text-sm leading-5 text-gray-500">
                                        {{customer.email}}
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td class="px-6 py-4 whitespace-no-wrap  hidden sm:table-cell">
                            <div class="text-sm leading-5 text-gray-900">N/A</div>
                        </td>
                        <td class="px-6 py-4 whitespace-no-wrap  hidden sm:table-cell">
                            <div class="text-sm leading-5 text-gray-900">{{customer.team}}</div>
                        </td>
                        <td>
                            <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                                xmlns="http://www.w3.org/2000/svg" (click)="cleanCustomer()">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16">
                                </path>
                            </svg>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="flex flex-wrap" [formGroup]="appointmentForm">
                <div class="w-full sm:w-1/2 p-2">
                    <app-label-form for="date" name="{{ 'appointment_create.date' | translate }}">
                    </app-label-form>
                    <ng2-flatpickr formControlName="date" #calendar addClass="inputClass" [config]="dateOptions"
                        placeholder="{{ 'appointment_create.date' | translate }}">
                    </ng2-flatpickr>
                    <ng-container *ngIf="submitted && f.date.errors">
                        <app-error-form *ngIf="f.date.errors.required" error="{{'errors.required' | translate}}">
                        </app-error-form>
                    </ng-container>
                </div>
                <div class="w-full sm:w-1/2 p-2">
                    <app-label-form for="team" name="{{ 'appointment_create.team' | translate }}">
                    </app-label-form>
                    <select formControlName="team_id" class="bg-white inputClass" id="team" (change)="changeTeam()">
                        <option hidden selected value="">{{ 'appointment_create.team' | translate }}
                        </option>
                        <option value="{{ team.id }}"
                            *ngFor="let team of (settingGeneralService.changeTeam$ | async).teams">
                            {{ team.name }}
                        </option>
                    </select>
                    <ng-container *ngIf="submitted && f.team_id.errors">
                        <app-error-form *ngIf="f.team_id.errors.required" error="{{'errors.required' | translate}}">
                        </app-error-form>
                    </ng-container>
                </div>
                <div class="w-full p-2">
                    <app-label-form for="user" name="{{ 'appointment_create.user' | translate }}">
                    </app-label-form>
                    <select formControlName="user_id" class="bg-white inputClass" id="user">
                        <option hidden selected value="">{{ 'appointment_create.user' | translate }}
                        </option>
                        <option value="{{ user.id }}" *ngFor="let user of users">
                            {{ user.name }}
                        </option>
                    </select>
                    <ng-container *ngIf="submitted && f.user_id.errors">
                        <app-error-form *ngIf="f.user_id.errors.required" error="{{'errors.required' | translate}}">
                        </app-error-form>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>

    <div button>
        <button type="submit" *ngIf="customer" (click)="createAppointment()"
            class="inline-flex justify-center w-full rounded-md border border-transparent px-4 py-2 bg-nutriwell text-base leading-6 font-medium text-white shadow-sm hover:bg-nutriwell-500 focus:outline-none focus:border-nutriwell-700 focus:shadow-outline-nutriwell transition ease-in-out duration-150 sm:text-sm sm:leading-5">
            {{text_button_create}}
        </button>
    </div>

</app-modal-data>