<div class="py-12 bg-white" id="htmlData" #htmlData>
    <div class="max-w-screen-xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="lg:text-center">
            <p class="text-center leading-6 text-indigo-600 font-semibold tracking-wide uppercase">
                <img src="assets/images/logo-pdf.jpeg" width=612 height=792>
            </p>
        </div>

        <div class="mt-10">
            <div class="grid grid-cols-2 gap-x-8 gap-y-10 border-b-2">
                <div class="ml-4 pb-2">
                    <h4 class="text-lg leading-6 font-medium text-gray-900">
                        PROTECCIÓN DE DATOS PERSONALES
                    </h4>
                </div>


                <div class="ml-4 pb-2">
                    <h4 class="text-lg leading-6 font-medium text-gray-900">
                        Empresa responsable del tratamiento
                    </h4>
                    <p class="mt-2 text-base leading-6 text-gray-500">
                        NATURHOUSE HEALTH, S.A.<br />
                        Claudio Coello 91, 4ª Planta, 28006<br />
                        Madrid<br />
                        CIF: A-01115286<br />
                        Teléfono: 91 432 39 53<br />
                        Email: dpo@naturhouse.com
                    </p>
                </div>
            </div>
            <div class="gap-x-8 gap-y-10 grid grid-cols-1 py-10">
                <div class="ml-4 pb-2">
                    <ul>
                        <li class="pb-2">
                            <p class="font-bold inline mr-1 uppercase">Nombre:</p> {{customer.name}}
                            {{customer.surnames}}
                        </li>
                        <li class="pb-2">
                            <p class="font-bold inline mr-1 uppercase">DNI/NIE:</p> {{customer.name}}
                        </li>
                        <li class="pb-2">
                            <p class="font-bold inline mr-1 uppercase">dirección:</p> {{customer.address}}
                        </li>
                        <li class="pb-2">
                            <p class="font-bold inline mr-1 uppercase">email:</p> {{customer.email}}
                        </li>
                        <li class="pb-2">
                            <p class="font-bold inline mr-1 uppercase">Teléfono:</p> {{customer.prefix}}
                            {{customer.mobile}}
                        </li>
                    </ul>
                </div>
                <div class="ml-4 pb-2">
                    <p class="font-bold mr-1 uppercase">USOS</p>
                    <p>
                        En nombre de la empresa tratamos la información que nos facilita con el fin de prestarles el
                        servicio solicitado con la
                        finalidad de facilitar el
                        control del historial dietético y la relación comercial.</p>
                </div>
                <div class="ml-4 pb-2">
                    <p class="font-bold mr-1 uppercase">CONSERVACIÓN</p>
                    <p>
                        De conformidad con lo establecido por la Ley, NATURHOUSE HEALTH S.A. se compromete al
                        cumplimiento de su obligación de
                        secreto
                        de los datos de carácter personal y de su deber de guardarlos, y adoptará las medidas necesarias
                        para evitar su
                        alteración, pérdida,
                        tratamiento o acceso no autorizado, habida cuenta en todo momento del estado de la tecnología.
                    </p>
                </div>
                <div class="ml-4 pb-2">
                    <p class="font-bold mr-1 uppercase">CESIONES A TERCEROS</p>
                    <p>Los datos no se cederán a terceros salvo en los casos en que exista una obligación legal.</p>
                </div>
                <div class="ml-4 pb-2">
                    <p class="font-bold mr-1 uppercase">ASPECTOS GENERALES</p>
                    <p>
                        A los efectos de lo dispuesto en el Reglamento (UE) 2016/679 del Parlamento Europeo y del
                        Consejo de 27 de abril de 2016
                        relativo a la
                        protección de las personas físicas, Usted tiene derecho a obtener confirmación sobre si en
                        NATURHOUSE HEALTH S.A.
                        estamos
                        tratando sus datos personales, por tanto, tiene derecho a acceder a sus datos personales,
                        rectificar los datos inexactos
                        o solicitar su
                        supresión cuando los datos ya no sean necesarios.
                    </p>
                    <p class="pt-2">
                        Asimismo, solicitamos su autorización para ofrecerle productos y servicios relacionados con los
                        solicitados. En cada
                        comunicación le
                        ofreceremos la posibilidad de darse de baja de nuestros comunicados promocionales.
                    </p>
                    <p class="pt-2">
                        Acepto recibir comunicaciones comerciales de la empresa
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>