<ng-container *ngIf="customer$ | async; else loading; let customer$">

    <div class="px-4 pt-6 sm:px-6 lg:px-8">
        <div class="lg:flex lg:items-center lg:justify-between">
            <div class="flex-1 min-w-0">
                <h2 class="text-2xl font-bold leading-7 text-gray-900
                    sm:text-3xl sm:leading-9 sm:truncate">
                    {{customer$.name}} {{customer$.surnames}}
                </h2>
                <div class="mt-1 flex flex-col sm:mt-0 sm:flex-row
                    sm:flex-wrap">

                    <div class="customer-info sm:mr-6">
                        <img class="customer-info-svg" src="assets/images/svg/location.svg" />
                        {{customer$.email}}
                    </div>

                    <div class="customer-info">
                        <img class="customer-info-svg" src="assets/images/svg/calendar.svg" />
                        {{ 'customer_edit.next_appointment' | translate }}
                        {{customer$.next_appointment ?
                        ((customer$.next_appointment.date+'
                        '+customer$.next_appointment.hour) | date: 'short' : ''
                        : ((settingGeneralService.changeCountry$
                        | async).locale)) : 'N/A'}}
                    </div>
                </div>
            </div>

            <div class="mt-5 flex lg:mt-0 lg:ml-4">
                <span class="hidden lg:block shadow-sm rounded-md">
                    <button (click)="createAppointment()" type="button"
                        class="customer-info-button-white">
                        <img class="customer-info-button-svg text-gray-500"
                            src="assets/images/svg/pencil.svg"
                            />
                        {{ 'customer_edit.appointment' | translate }}
                    </button>
                </span>

                <span class="hidden lg:block ml-3 shadow-sm rounded-md">
                    <button type="button" class="customer-info-button-white">
                        <img class="customer-info-button-svg text-gray-500"
                            src="assets/images/svg/link.svg" />
                        {{ 'customer_edit.message' | translate }}
                    </button>
                </span>

                <span class="ml-3 relative shadow-sm rounded-md lg:hidden">
                    <button type="button" class="customer-info-button-white"
                        (click)="isOpen= !isOpen">
                        {{ 'customer_edit.more' | translate }}
                        <img class="-mr-1 h-5 w-5 ml-2text-gray-500"
                            src="assets/images/svg/chevron-down.svg" />
                    </button>

                    <div class="origin-top-right absolute right-0 mt-2
                        -mr-1 w-48 rounded-md shadow-lg transition
                        ease-out duration-200"
                        aria-labelledby="mobile-menu" role="menu"
                        *ngIf="isOpen">
                        <div class="py-1 rounded-md bg-white ring-1
                            ring-black ring-opacity-5">
                            <a (click)="createAppointment()"
                                class="block px-4 py-2 text-sm leading-5
                                text-gray-700 hover:bg-gray-100
                                focus:outline-none focus:bg-gray-100
                                transition duration-150 ease-in-out"
                                role="menuitem">
                                {{ 'customer_edit.appointment' | translate }}
                            </a>
                            <a class="block px-4 py-2 text-sm leading-5
                                text-gray-700 hover:bg-gray-100
                                focus:outline-none focus:bg-gray-100
                                transition duration-150 ease-in-out"
                                role="menuitem">
                                {{ 'customer_edit.message' | translate }}
                            </a>
                        </div>
                    </div>
                </span>
            </div>
        </div>
    </div>

    <app-tabs>
        <app-tab title="{{ 'customer_edit.tabs.data' | translate }}" slug="personal"
            [isActive]="path === 'tab=personal'">
            <app-customer-edit-general [customer]="customer$"></app-customer-edit-general>
        </app-tab>

        <app-tab title="Historial Médico" slug="historial" [isActive]="path ===
            'tab=historial'">
            <app-customer-edit-medical-history
                [customer_id]="customer$.id"
                [medical]="customer$.medical">
            </app-customer-edit-medical-history>
        </app-tab>

        <app-tab title="Appointments" slug="appointment" [isActive]="path ===
            'tab=appointment'">
            <app-customer-edit-appointments [customer]="customer$"
                (reloadCustomer)="reloadCustomer()">
            </app-customer-edit-appointments>
        </app-tab>

        <!-- <app-tab title="Antropométricos">
            <div echarts [options]="options2" class="demo-chart"></div>
            <div echarts [options]="options3" class="demo-chart"></div>
            <div echarts [options]="options" class="demo-chart"></div>
        </app-tab> -->
    </app-tabs>

</ng-container>

<ng-template #loading>
    <app-loading></app-loading>
</ng-template>