/* You can add global styles to this file, and also import other style files */


// tailwind
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

// html{
//   font-family: 'slim-joe, big-john';
// }

@import 'assets/fonts/muller/muller.scss';

.inputClass {
  	@apply shadow;
   	@apply appearance-none;
   	@apply border;
   	@apply rounded;
   	@apply w-full;
   	@apply py-2;
   	@apply px-3;
   	@apply text-nutriwell;
   	@apply leading-tight; 
}

.inputClass:focus {
    @apply outline-none;
    @apply ring-nutriwell;
    @apply border-nutriwell;
    @apply ring-opacity-50;
}

.inputClass_groups {
  	@extend .inputClass;
  	@apply pl-20;
}

.customer-info {
   	@apply mt-2;
   	@apply flex;
   	@apply items-center;
   	@apply text-sm;
   	@apply leading-5;
   	@apply text-gray-500;
}

.customer-info-svg {
    @apply flex-shrink-0;
    @apply  h-5;
    @apply  w-5;
    @apply  text-nutriwell;
    @apply  mr-1.5;
}

.customer-info-button {
    @apply inline-flex;
    @apply  items-center;
    @apply  px-4;
    @apply  py-2;
    @apply  border;
    @apply  border-gray-300;
    @apply  text-sm;
    @apply  leading-5;
    @apply  font-medium;
    @apply  rounded-md;
    @apply transition;
    @apply duration-150;
    @apply ease-in-out;
}

.customer-info-button-white {
    @apply customer-info-button;
    @apply text-gray-700;
    @apply  bg-white;
}

.customer-info-button-white:hover {
    @apply text-gray-500;
}

.customer-info-button-white:focus {
    @apply outline-none;
    @apply ring-blue-100;
}

.customer-info-button-reverse {
    @apply customer-info-button;
    @apply text-white;
    @apply bg-nutriwell;
}

.customer-info-button-reverse:hover {
    @apply bg-nutriwell;
}

.customer-info-button-reverse:focus {
    @apply outline-none;
    @apply border-nutriwell;
}

.customer-info-button-svg {
    @apply -ml-1;
    @apply mr-2;
    @apply  h-5;
    @apply  w-5;
}
.customer-info-button-svg:focus {    
    @apply outline-none;
}

@mixin scrollbars($sizeW, $sizeH, $foreground-color, $background-color: mix($foreground-color, white,  10%)) {
  &::-webkit-scrollbar {
    width:  $sizeW;
    height: $sizeH;
  }

  &::-webkit-scrollbar-thumb {
    background: $foreground-color;
  }

  &::-webkit-scrollbar-track {
    background: $background-color;
  }

  // For Internet Explorer
  & {
    scrollbar-face-color: $foreground-color;
    scrollbar-track-color: $background-color;
  }
}

.custom-scroll {
  @include scrollbars(.5em, .1em, slategray);
}