/* You can add global styles to this file, and also import other style files */


// tailwind
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.inputClass {
  	@apply shadow;
   	@apply appearance-none;
   	@apply border;
   	@apply rounded;
   	@apply w-full;
   	@apply py-2;
   	@apply px-3;
   	@apply text-witrac;
   	@apply leading-tight; 
}

.inputClass:focus {
    @apply outline-none;
    @apply ring-witrac;
    @apply border-witrac;
    @apply ring-opacity-50;
}

.inputClass_groups {
  	@extend .inputClass;
  	@apply pl-20;
}

@mixin scrollbars($sizeW, $sizeH, $foreground-color, $background-color: mix($foreground-color, white,  10%)) {
  &::-webkit-scrollbar {
    width:  $sizeW;
    height: $sizeH;
  }

  &::-webkit-scrollbar-thumb {
    background: $foreground-color;
  }

  &::-webkit-scrollbar-track {
    background: $background-color;
  }

  // For Internet Explorer
  & {
    scrollbar-face-color: $foreground-color;
    scrollbar-track-color: $background-color;
  }
}

.custom-scroll {
  @include scrollbars(.5em, .1em, slategray);
}